[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
anytree = "*"
lxml = "*"
click = "*"

[dev-packages]
flake8 = "*"
flake8-import-order = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-functions = "*"
flake8-return = "*"
flake8-strings = "*"
flake8-blind-except = "*"
flake8-builtins = "*"
flake8-logging-format = "*"
flake8-docstrings = "*"
flake8-rst-docstrings = "*"
mccabe = "*"
pycodestyle = "*"
pydocstyle = "*"
pyflakes = "*"
restructuredtext-lint = "*"
entrypoints = "*"
docutils = "*"

[requires]
python_version = "3.9"
